:root {
  --green-900: #020a09;
  --green-600: #7a804a;
  --green-100: #d3d8b3;
  --red-600: #ae242c;
  --white: #ffffff;
  --optima: "Optima", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --ysabeau: "Ysabeau", sans-serif;
}
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("fonts/Optima.woff") format("woff");
}

@font-face {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Optima Medium"), url("fonts/Optima Medium.woff") format("woff");
}

@font-face {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Optima Bold"), url("fonts/Optima Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: local("Montserrat"), url("fonts/Montserrat.woff2") format("woff2");
}
@font-face {
  font-family: "Ysabeau";
  font-style: normal;
  src: local("Ysabeau"),
    url("fonts/YsabeauOffice-VariableFont_wght.woff2") format("woff2"),
    url("fonts/YsabeauOffice-VariableFont_wght.ttf") format("truetype");
}

/* Основные стили */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  &.link {
    color: var(--red-600);
  }
}

button,
input[type="submit"] {
  border: 0;
}

body {
  font-family: var(--montserrat);
  background-color: var(--green-100);
  overflow-x: hidden;
  color: var(--green-900);
}

input,
textarea,
button {
  color: #1d1d1d;
  font-family: var(--montserrat);
}

html {
  font-size: 0.625vw;
  overflow-x: hidden;
  background-color: var(--green-100);
}
html * {
  -webkit-tap-highlight-color: transparent;
}
html ::selection {
  background-color: var(--green-600);
  color: #fff;
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 2.778vw;
  }
}
/* БЭМ блоки */
.btn {
  cursor: pointer;
  background: var(--red-600);
  color: var(--white);
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 123px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #c03c43;
}

.only-desktop {
  display: block;
}
.only-mobile {
  display: none;
}
.inline-block {
  display: inline-block;
}

.basic-title-container {
  display: flex;
  flex-flow: column;
  gap: 4rem;
  align-items: center;
}
.basic-title {
  font-size: 10rem;
  line-height: 1.2;
  color: var(--green-600);
  text-align: center;
}
.basic-title-footer {
  width: 60rem;
  letter-spacing: 0.02em;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (orientation: portrait) {
  .basic-title {
    font-size: 4rem;
  }
  .basic-title-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .basic-title-footer {
    font-size: 1.6rem;
    width: unset;
  }
}

.breadcrumbs {
  display: flex;
  gap: 0.3rem;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--green-900);
}
.breadcrumb-text {
  opacity: 0.5;
}
/* БЭМ блоки конец */

/* Хедер */
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
}
.header__background {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  top: 0;
  width: 100%;
  height: 10.6rem;
  z-index: 9;
  /* transition: backdrop-filter 2s, background-color 1s; */
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  position: relative;
}
.header__breadcrumbs {
  position: absolute;
  left: 14rem;
}
.logo {
  width: 19rem;
  height: 4.6rem;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-icon {
  width: 5rem;
  height: 1.8rem;
  cursor: pointer;
}
/* Хедер конец */

.burger-btn {
  display: none;
}

/* главный баннер */
.main-banner {
  height: 150vh;
  z-index: 2;
  position: relative;
}
.icon-btn {
  cursor: pointer;
  width: fit-content;
  position: relative;
}
.icon-btn__icon {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 4.4rem;
  height: 6rem;
}
.icon-btn__bg {
  height: 6rem;
  background-color: var(--red-600);
  border-radius: 4rem;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  padding: 0 3rem;
  opacity: 0;
  z-index: 1;
}
.icon-btn__text {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  padding: 2rem 3rem;

  transition: color 0.5s;
}

/* фиксированный элемент для заднего фона куда можно вставлять изображения */
.fixed-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  top: 0;
  background-color: var(--green-100);
}
.fixed-background[src=""] {
  visibility: hidden;
}

/* фиксированный элемент для заднего фона куда можно вставлять изображения */

.image-foreground {
  /* width: 480rem;
  height: 308.9rem; */
  /* top: -103.9rem; */
  /* left: -158rem; */

  width: 383.7rem;
  height: 312.824vh;

  position: fixed;
  top: -105vh;
  left: -115rem;

  z-index: 3;
}
.mob-image-foreground {
  display: none;
}
.fixed-video {
  width: 100%;
  height: 100vh;
  object-position: 30% 40%;
  object-fit: cover;
  position: absolute;
  right: 0;
  z-index: 2;
}
.main-text-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.main-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  align-items: end;
}
.main-text__title {
  font-size: 26rem;
  line-height: 1;
  color: #7a804a;
  white-space: nowrap;
  font-family: var(--optima);
}
.main-text__under {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #7a804a;
}

.image-gallery {
  background-color: var(--green-100);
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}
.image-gallery__fixed-image {
  position: fixed;
  width: 60rem;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 5rem;
  object-fit: cover;
  object-position: 50% 50%;
}
.containers-separator {
  height: 20rem;
  width: 100%;
  background-color: var(--green-100);
  position: relative;
  z-index: 2;
}
.image-grid {
  min-height: 100vh;
  position: relative;
}
.image-grid-first-elem {
  width: 75rem;
  height: 44rem;
  object-fit: cover;
  object-position: center center;
}

.sale-info-block {
  margin-top: 10rem;
  margin-left: 5rem;
}
.sale-info-title {
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.sale-info-value {
  font-size: 10rem;
  line-height: 1;
  font-family: var(--optima);
  color: var(--green-600);
  margin-top: 3rem;
  position: relative;
}
.sale-info-value__icon {
  position: absolute;
  left: -5rem;
  top: -0.6rem;
  width: 5rem;
  height: 6.7rem;
}

.sale-info-text {
  font-size: 1.6rem;
  line-height: 1;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.image-gallery__action {
  margin-top: 5rem;
  margin-left: 5rem;
}

/* услуги */
.services {
  z-index: 1;
  position: relative;
  padding-bottom: 5rem;
}

.services-slider {
  margin-top: 20rem;
}
.service {
  width: 25rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
}
.service__img {
  width: 25rem;
  height: 50rem;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}
.service__title {
  position: absolute;
  width: 19rem;
  left: 3rem;
  bottom: 3rem;

  color: var(--white);
  letter-spacing: 0.02em;
  font-size: 3.2rem;
  line-height: 1;
  z-index: 2;
}

.service-bg {
  width: 25rem;
  height: 25rem;
  position: absolute;
  bottom: 0;
}
.service-bg_half-opacity {
  width: 25rem;
  height: 25rem;
  position: absolute;
  opacity: 0.5;
  transform: translate(0, 101%);
  background: var(--green-600);
  transition: transform 0.5s 0.2s;
}
.service-bg_full-opacity {
  width: 25rem;
  height: 25rem;
  position: absolute;
  transform: translate(0, 101%);
  background: var(--green-600);
  transition: transform 0.5s;
}
.service:hover .service-bg_half-opacity {
  transform: translate(0);
  transition: transform 0.5s;
}
.service:hover .service-bg_full-opacity {
  transform: translate(0);
  transition: transform 0.5s 0.2s;
}
/* услуги конец */

/* прайс лист */
.price-list {
  display: flex;
  flex-flow: column;
  gap: 6rem;
  align-items: center;
  background-color: var(--green-100);

  width: 160rem;
  position: relative;
  z-index: 1;
}
.price-list-title-container {
  gap: 3rem;
}
.price-list__container {
  width: 100%;
  overflow: hidden;
}
.price-list-content-wrapper {
  display: flex;
  width: 300rem;
  transition: height 0.1s;
}
.price-list-content {
  width: 150rem;
  flex-shrink: 0;
  height: fit-content;
}

.price-list-info-text {
  font-size: 1.6rem;
  line-height: 1;
}
.price-list-info-text_align-center {
  text-align: center;
}
.tabs-container {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  border-color: var(--green-600);
  border-width: 0.1rem;
  padding: 1rem 0;
  width: 85rem;
}

.tab {
  font-size: 2.4rem;
  letter-spacing: 0.02em;
  line-height: 1;
  opacity: 0.5;
  cursor: pointer;
  color: var(--green-900);
  transition: opacity 0.3s;
}
.tab:hover {
  opacity: 1;
}
.tab.active {
  opacity: 1;
  cursor: default;
}
.tab__divider {
  font-size: 2.4rem;
  line-height: 1;
  opacity: 0.5;
  color: var(--green-900);
}

.price-list-item {
  position: relative;

  height: 7.2rem;
  overflow: hidden;
  cursor: pointer;

  border-top: solid;
  border-color: var(--green-600);
  border-width: 0.1rem;
  padding: 2.4rem 5rem;
  font-size: 2.4rem;
  line-height: 1;

  color: var(--green-900);

  transition: height 0.2s, background-color 0.2s, color 0.2s;
  &:hover {
    color: var(--white);
    .price-list-item__icon {
      color: var(--white);
    }
  }
  &.active {
    background-color: var(--green-600);
    color: var(--white);

    .price-list-item__body {
      opacity: 1;
    }
    .price-list-item__icon {
      color: var(--white);
    }
  }
}
.price-list-item__title {
  position: relative;
  z-index: 1;
  display: inline;
}
.price-list-item__bg {
  position: absolute;
  background-color: var(--green-600);
  height: 7.2rem;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.price-list-item__body {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.05s;
  cursor: default;
}
.price-list-item__body ::selection {
  color: var(--green-600);
  background: var(--white);
}
.price-list-item__icon {
  position: absolute;
  z-index: 1;
  right: 5.3rem;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--green-600);
  transition: color 0.2s;
}
.price-list-table_mob {
  display: none;
}
.price-list-table {
  display: flex;
  flex-flow: column;
  gap: 2.4rem;
}
.price-list-row {
  display: flex;
}
.price-list-cell {
  width: 24rem;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.price-list-cell_first-col {
  width: 72rem;
}
.price-list-cell_full-width {
  width: 100%;
}
.price-list-cell_heading {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.5;
  margin-bottom: 0.6rem;
}
.price-list-cell-container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.price-list-cell_footer {
  width: 35rem;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1;
}
.price-list__action {
  padding: 1.5rem 0 5rem;
}
.price-list__more-info-link {
  display: block;
  margin-top: 6rem;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
}
.price-list-massage-container {
  padding: 6rem 5rem;
  background: var(--green-600);
  color: var(--white);
}
.price-list-massage-container ::selection {
  color: var(--green-600);
  background: var(--white);
}
.price-list-massage-more-info-link {
  display: block;
  margin-top: 4rem;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
}
/* прайс лист */

/* текст по центру */
.centered-text-wrapper {
  background: var(--green-100);
  position: relative;
  z-index: 2;
}
.centered-text-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.centered-text {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green-600);

  width: 120rem;
  font-family: var(--ysabeau);
  font-size: 6rem;
  line-height: 1;
}
/* текст по центру */

.one-screen-transparent-container {
  display: none;
}

/* наши мастера */
.our-masters {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.our-masters-text-container {
  padding-top: 30rem;
  padding-bottom: 50rem;
  background-color: var(--green-100);
  position: relative;
  z-index: 1;
}
.our-masters-title {
  color: var(--green-600);
  font-size: 10rem;
  line-height: 1;
  text-align: center;
}
.our-masters-text {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 5rem;
  width: 60rem;
}
.master {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 105rem;
  height: 120rem;

  position: relative;

  background-color: var(--green-100);
  &:not(:last-child) {
    padding-bottom: 29.5rem;
  }
}
.master_pad-top {
  padding-top: 20rem;
}
.master__blank-space {
  width: 40rem;
  height: 60rem;
}
.master-image {
  width: 40rem;
  height: 60rem;
  position: relative;
}
.master-image_start,
.master-image_center,
.master-image_last {
  height: 120rem;
  position: absolute;
  left: -5rem;
  top: -10rem;
}

.separator {
  position: absolute;
  bottom: 0;
  height: 4rem;
  left: -3rem;
  transform: translate(0, 50%);
  width: 46rem;
  background-color: var(--green-100);
  opacity: 1;
  filter: blur(0.7rem);
  z-index: 3;
  display: none;
}
.master-info {
  width: 50rem;
  height: fit-content;
}
.master-name {
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 3rem;
  color: var(--green-600);
}
.master-text-wrapper {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}
.master-desc-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.master-desc-title {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.5;
}
.master-desc-text {
  font-size: 2rem;
  line-height: 1;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.master-action-block {
  margin-top: 5rem;
}
.master-fixed-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  top: 0;
  background-color: var(--green-100);
  display: none;
}
.master-fixed-background[src=""] {
  visibility: hidden;
}
/* наши мастера */

/* Преимущества */
.our-advantages {
  position: relative;
  z-index: 1;
  padding-top: 30rem;
}
/* Преимущества конец */

/* адреса */
.addresses-list {
  display: flex;
  flex-flow: column;
  gap: 5rem;
  position: relative;
  z-index: 1;
}
.address-item {
  width: 75rem;
  display: flex;
  flex-flow: column;
}
.addresses-list__wrapper {
  margin-top: 15rem;
  display: flex;
}
.addresses-list__title {
  font-size: 4rem;
  line-height: 1;
}
.address-title {
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0.02em;
  padding: 2.4rem 0;
  border-top: var(--green-600) 0.1rem solid;
  border-bottom: var(--green-600) 0.1rem solid;
  color: var(--green-600);
}
.address-info-container {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  gap: 3rem;
}
.address-info-list {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.address-info-item {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.address-maps-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.address-rating {
  display: flex;
  gap: 1rem;
}
.address-rating-icon {
  width: 10rem;
  height: 2rem;
}
.rating-info {
  display: flex;
  gap: 0.5rem;
}
.rating-quantity,
.rating-value {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.maps-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.maps-link_small-gap {
  gap: 0.5rem;
}
.map-icon {
  width: 3rem;
  height: 3rem;
}
.map-icon_small {
  width: 1.2rem;
  height: 1.44rem;
}
.maps-link__text {
  font-size: 1.2rem;
  line-height: 1;
  width: unset;
  letter-spacing: 0.02em;
}
.address-btn {
  width: fit-content;
}
.maps-title {
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.maps-address {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.map-wrapper {
  width: 100%;
  height: 66rem;
}
.map {
  width: inherit;
  height: inherit;
}
/* адреса конец */

/* футер */
.footer {
  position: relative;
  z-index: 1;
  padding-bottom: 5rem;
  overflow: hidden;
  width: 150rem;
  margin: 0 auto;
}
.footer-container {
  padding-top: 10rem;
  position: absolute;
  width: 150rem;
}
.footer-top-row {
  display: flex;
  gap: 15rem;
  padding-bottom: 15rem;
}
.footer-logo-container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: end;
}
.footer-text-logo {
  width: 10.4rem;
  height: 13.8rem;
}
.logo_big {
  width: 28.1rem;
  height: 6.8rem;
}
.footer__logo {
  margin-bottom: 0.8rem;
}
.footer-menu-grid {
  /* width: 95rem; */
  width: 75rem;
  display: flex;
  justify-content: space-between;
}
.footer-menu-column {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.footer-menu-column_outer {
  display: flex;
  flex-flow: column;
  gap: 4rem;
}
.footer-menu-category {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.5;
}
.footer-menu-item {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.footer-bottom-row {
  display: flex;
}
.footer-bottom-info {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.footer__company-info-text {
  width: 55rem;
}
.footer__dev-info {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
.footer__dev-info-icon {
  width: 5.6rem;
  height: 2.9rem;
}
.footer__dev-info-link {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.02em;
  color: var(--green-600);
}
.icons-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icon-whatsapp {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-telegram {
  width: 2.4rem;
  height: 2.1rem;
}
.icon-insta {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-vk {
  width: 2.4rem;
  height: 1.4rem;
}
.icon-yt {
  width: 2.2rem;
  height: 1.6rem;
}
/* футер конец */

@media only screen and (orientation: portrait) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }

  .header {
    justify-content: center;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: none;
  }
  .header__background {
    height: 11rem;
  }
  .header__container {
    padding: 4rem 0;
    height: 11rem;
  }
  .header__breadcrumbs {
    display: none;
  }
  .logo {
    width: 12.4rem;
    height: 3rem;
  }
  .burger-btn {
    display: block;
    width: 7.4rem;
    height: 10rem;
    position: fixed;
    right: 1rem;
    bottom: 3.5rem;
    z-index: 3;
  }

  .main-banner {
    height: 200vh;
  }
  .fixed-video {
    width: 36rem;
  }
  .mob-image-foreground {
    width: 108rem;
    height: 156rem;
    position: fixed;
    top: -15rem;
    left: -36rem;
    z-index: 3;
    display: block;
  }
  .image-foreground {
    display: none;
  }

  .containers-separator {
    height: 10rem;
  }
  .image-gallery {
    background-color: var(--green-100);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .image-grid {
    height: unset;
  }
  .image-gallery__fixed-image {
    display: none;
  }
  .image-gallery__action {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .image-grid-first-elem {
    width: 34rem;
    height: 20rem;
  }
  .sale-info-block {
    margin-top: 5rem;
    margin-left: 0;
  }
  .sale-info-value {
    margin-left: 5rem;
  }
  .sale-info-text {
    margin-left: 5rem;
  }

  .main-text__title {
    line-height: 1;
    font-size: 7.6rem;
  }
  .main-text__under {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--white);
  }
  /* пустой элемент ровно на один экран */
  .one-screen-transparent-container {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 0;
    position: relative;
  }
  .one-screen-transparent {
    background-color: transparent;
    height: 100vh;
  }

  .fixed-wrapper {
    display: none;
  }

  /* прайс лист */
  .price-list {
    width: unset;
    font-size: 1.8rem;
    line-height: 1;
    gap: 5rem;
  }
  .price-list__title {
    font-size: 4rem;
    line-height: 1;
  }
  .price-list__text {
    font-size: 1.2rem;
    line-height: 1;
  }
  .price-list-info-text {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .tabs-container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .tab {
    font-size: 1.6rem;
    line-height: 1;
  }
  .tab__divider {
    font-size: 1.8rem;
    line-height: 1;
  }
  .price-list-item {
    padding: 2.4rem 1rem;
    &.active {
      background-color: var(--green-600);
      color: var(--white);
    }
  }
  .price-list-item__icon {
    right: 1rem;
  }
  .price-list-content {
    width: 36rem;
  }
  .price-list-content-wrapper {
    width: 72rem;
  }

  .price-list-table {
    display: none;
  }
  .price-list-table_mob {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }
  .price-list-row {
    justify-content: space-between;
  }
  .price-list-cell {
    font-size: 2rem;
    line-height: 1;
    width: 11rem;
  }
  .price-list-cell_first-col {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
  }
  .price-list-col {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
  }
  .price-list-cell_heading {
    margin-bottom: 0;
  }
  .price-list-cell-container {
    display: flex;
    flex-flow: column;
    gap: 0.4rem;
  }
  .price-list-cell_footer {
    width: 26rem;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.02em;
  }
  .price-list__action {
    margin-top: 1.5rem;
  }
  .price-list__more-info-link {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1;
    margin-top: 5rem;
  }
  .price-list-massage-container {
    padding: 2.4rem 1rem 4rem;
  }
  .price-list-massage-more-info-link {
    font-size: 1.2rem;
  }
  /* прайс лист */

  .centered-text {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
  }

  /* наши мастера */
  .our-masters-text-container {
    padding-bottom: 30rem;
  }
  .our-masters-title {
    font-size: 4rem;
    line-height: 1;
  }
  .our-masters-text {
    width: unset;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 5rem;
  }
  .master {
    width: unset;
    height: unset;
    min-height: 101vh;
    z-index: 1;
  }
  .master_pad-top {
    padding-top: 10rem;
  }
  .master-image {
    display: none;
  }
  .master__blank-space {
    display: none;
  }
  .master-info {
    width: unset;
  }
  .master-fixed-background {
    display: block;
  }
  .master-desc-title {
    font-size: 1rem;
  }
  .master-desc-text {
    font-size: 1.6rem;
  }
  .master-action-block {
    display: flex;
    justify-content: center;
  }
  /* Преимущества */
  .our-advantages__title {
    font-size: 4rem;
    line-height: 1.2;
  }
  /* Преимущества конец */
  /* услуги */
  .services__title {
    font-size: 4rem;
    line-height: 1;
  }
  .services-slider {
    margin-top: 10rem;
  }
  /* услуги конец*/

  /* адреса */
  .addresses-list__wrapper {
    flex-flow: column;
    margin-top: 10rem;
    gap: 5rem;
  }
  .address-title {
    color: var(--green-900);
    padding: 1.6rem 0;
  }
  .addresses-list {
    flex-flow: column;
  }
  .address-item {
    width: unset;
  }
  .address-rating {
    flex-flow: column;
  }
  .map-wrapper {
    width: 36rem;
    height: 24rem;
  }
  /* адреса конец */

  /* футер */
  .footer {
    width: unset;
    padding-bottom: 6rem;
  }
  .footer-separator {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-container {
    width: 36rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-top-row {
    flex-flow: column;
    gap: 5rem;
    padding-bottom: 10rem;
  }
  .footer-text-logo {
    width: 7.8rem;
    height: 10.4rem;
  }
  .footer__logo {
    margin-bottom: 0.55rem;
    width: 21rem;
    height: 5.1rem;
  }
  .footer-menu-grid {
    flex-flow: column;
    gap: 4rem;
    width: unset;
  }
  .footer-bottom-row {
    flex-flow: column;
    gap: 2rem;
  }
  .footer__dev-info {
    flex-grow: 0;
    margin-top: 2rem;
  }
  .footer__company-info-text {
    width: unset;
  }
  .footer__dev-info-link {
    flex-flow: column-reverse;
  }
  .footer-bottom-info {
    justify-content: center;
    text-align: center;
  }
  /* футер конец */
}

/* Страница прайс листа */
.price-list-page {
  margin-top: 30rem;
}
.price-list-page-title {
  font-size: 6rem;
  line-height: 1;
  color: var(--green-600);
}
.price-list-page__sections-wrapper {
  display: flex;
  flex-flow: column;
  gap: 13rem;
  margin-top: 8rem;
}
.price-list-section {
  display: flex;
  flex-flow: column;
  gap: 6rem;
}
.price-list-section__title {
  font-size: 4rem;
  line-height: 1;
  color: var(--green-600);
}
.price-list-section-text-container {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}
.price-list-section__action {
  display: flex;
  justify-content: center;
}

/* UDS */
.UDS {
  position: relative;
  padding-top: 50rem;
}
.UDS-content-wrapper {
  display: flex;
  gap: 25rem;
  align-items: center;
}
.UDS-text {
  width: 70rem;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.UDS-text_mb-5 {
  margin-bottom: 0.5rem;
}
.UDS-text_mb-10 {
  margin-bottom: 1rem;
}
.UDS-title {
  font-size: 4rem;
  line-height: 1;
  color: var(--green-600);
}
.UDS-content {
  margin-left: 80rem;
  display: flex;
  flex-flow: column;
  gap: 5rem;
}
.UDS-secondary-title {
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  width: 70rem;
}
.UDS-text-wrapper {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.UDS-text-wrapper_small-gap {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.UDS-text-wrapper_without-gap {
  gap: 0;
}
.UDS-mockup {
  width: 30rem;
  height: 93rem;
  position: absolute;
  top: 10rem;
  left: 25rem;
}
.UDS-mockup-container {
  position: relative;
}
.UDS-mockup-bg {
  position: absolute;
  height: 62rem;
  width: 30rem;
}
.UDS-mockup-inner-container {
  padding-top: 16.5rem;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.UDS-mockup-icon {
  width: 10rem;
  height: 10rem;
}
.UDS-mockup-title {
  margin-top: 4rem;
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  color: #463b83;
}
.UDS-mockup-text {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1;
  color: #463b83;
}
.UDS-mockup-btn {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 20rem;
  border-radius: 1rem;
  background-color: #d10092;
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1;
  margin-top: 14.3rem;
  cursor: pointer;
}
@media only screen and (orientation: portrait) {
  .price-list-page {
    margin-top: 20rem;
  }
  .price-list-page-title {
    font-size: 4rem;
    line-height: 1;
    padding: 0 1rem;
  }
  .price-list-section__title {
    font-size: 3.2rem;
    line-height: 1;
  }
  .price-list-section-text-container {
    padding: 0 1rem;
  }
  .UDS {
    padding-top: 20rem;
  }
  .UDS-content-wrapper {
    flex-flow: column-reverse;
    gap: 10rem;
  }
  .UDS-mockup {
    position: relative;
    top: 0;
    left: 0;
    height: 62rem;
  }
  .UDS-content {
    margin-left: 0;
    padding: 0 1rem;
  }
  .UDS-text {
    width: unset;
  }
  .UDS-secondary-title {
    width: unset;
  }
}
/* UDS конец */
/* Страница прайс листа */

/* Страница контактов */
.addresses-page-text-container {
  margin-top: 4rem;
  display: flex;
  flex-flow: column;
  gap: 8rem;
}
.addresses-page-title {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1;
  color: var(--green-600);
}
.addresses-page-text {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  width: 60rem;
}
@media only screen and (orientation: portrait) {
  .addresses-page-title {
    font-size: 4rem;
  }
  .addresses-page-text {
    width: unset;
    font-size: 1.6rem;
  }
  .addresses-page-text-container {
    margin-top: 0;
  }
}
/* Страница контактов */

/* Страница оборудования */
/* Оборудование */
.our-equipment {
  background-color: var(--green-100);
}
.our-equipment_pad-top {
  padding-top: 24rem;
}
.our-equipment__title {
  font-size: 6rem;
  line-height: 1;
  font-weight: 300;
  color: var(--green-600);
}
.equipment-wrapper {
  margin-top: 8rem;
  display: flex;
  flex-flow: column;
  gap: 54rem;
}
.equipment {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.equipment_pad-top {
  padding-top: 35rem;
}
.equipment-image-container {
  width: 60rem;
  height: 120rem;
  position: absolute;
  top: 0rem;
}
.equipment-image {
  width: 60rem;
  height: 80rem;
}
.equipment-info {
  display: flex;
  flex-flow: column;
  width: 70rem;
  gap: 5rem;
  margin-left: 75rem;
}
.equipment__title {
  font-size: 4rem;
  line-height: 1;
  color: var(--green-600);
}
.equipment-certification-info {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.equipment__desc {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  width: 60rem;
}
.equipment-certificates {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.equipment-certificate {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.equipment-certificate__img {
  width: 5rem;
  height: 6rem;
  flex-shrink: 0;
}
.equipment-ceritificate__name {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  width: 38.3rem;
}
.equipment-advantages-info {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.equipment__heading {
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.equipment__text {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  width: 60rem;
}
.equipment__links {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.equipment__link {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.equipment__list {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.equipment__list-item {
  font-size: 2rem;
  letter-spacing: 0.02em;
  margin-left: 2rem;
}
/* Оборудование конец */
@media only screen and (orientation: portrait) {
  /* Оборудование */
  .our-equipment_pad-top {
    padding-top: 15rem;
  }
  .our-equipment__title {
    font-size: 4rem;
    line-height: 1;
  }
  .equipment-wrapper {
    gap: 10rem;
  }
  .equipment-image-container {
    position: relative;
    top: 0;
    width: unset;
    height: 45.4rem;
  }
  .equipment-image {
    width: 34rem;
    height: 45.4rem;
    position: relative;
    z-index: 2;
  }
  .equipment {
    flex-flow: column;
    gap: 10rem;
    padding-top: 1rem;
  }
  .equipment_pad-top {
    padding-top: 5rem;
  }
  .equipment-info {
    width: unset;
    margin-left: 0;
  }
  .equipment__title {
    font-size: 3.2rem;
    line-height: 1;
  }
  .equipment__desc {
    width: unset;
    font-size: 2rem;
    line-height: 1.4;
  }
  .equipment-ceritificate__name {
    font-size: 1.6rem;
    line-height: 1.4;
    width: unset;
  }
  .equipment__heading {
    line-height: 1;
  }
  .equipment-certification-info {
    gap: 2rem;
  }
  .equipment-advantages-info {
    gap: 2rem;
  }
  .equipment__text {
    font-size: 2rem;
    width: unset;
  }
  /* Оборудование конец */
}

/* Страница оборудования */

/* accordion */
.accordion {
  position: relative;

  height: 7.2rem;
  overflow: hidden;
  cursor: pointer;

  border-top: solid;
  border-color: var(--green-600);
  border-width: 0.1rem;
  padding: 2.4rem 5rem;
  font-size: 2.4rem;
  line-height: 1;

  color: var(--green-900);

  transition: height 0.2s, background-color 0.2s, color 0.2s;
}
.accordion:hover .accordion__icon {
  color: var(--white);
}
.accordion.active {
  background-color: var(--green-600);
  color: var(--white);
}
.accordion.active .accordion__body {
  opacity: 1;
}
.accordion.active .accordion__icon {
  color: var(--white);
}
.accordion__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: color 0.2s;
}
.accordion__bg {
  position: absolute;
  background-color: var(--green-600);
  height: 7.2rem;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.accordion__body {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.05s;
  cursor: default;
}
.accordion__body ::selection {
  color: var(--green-600);
  background: var(--white);
}
.accordion__icon {
  top: 2.4rem;
  position: absolute;
  z-index: 1;
  right: 5.3rem;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--green-600);
  transition: color 0.2s;
}
@media only screen and (orientation: portrait) {
  .accordion {
    padding: 2.4rem 1rem;
  }
  .accordion.active {
    background-color: var(--green-600);
    color: var(--white);
  }
  .accordion__icon {
    right: 1rem;
  }
}
/* accordion */

/* faq */
.faq {
  padding-top: 30rem;
}
.faq__title {
  width: 63.8rem;
  font-size: 4rem;
  line-height: 1.1;
  color: var(--green-600);
}
.faq__questions-wrapper {
  margin-top: 10rem;
}
.faq-content {
  width: 100rem;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--green-100);
}
.accordion.active .question-title,
.accordion:hover .question-title {
  color: var(--green-100);
}
.faq__action-block {
  margin-top: 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
}
.faq__action-block-text {
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
@media only screen and (orientation: portrait) {
  .faq__title {
    font-size: 3.2rem;
    width: unset;
  }
  .question-title {
    font-size: 2rem;
    width: 28rem;
  }
  .faq-content {
    width: unset;
  }
  .faq__action-block {
    margin-top: 10rem;
  }
  .faq__action-block-text {
    font-size: 2rem;
  }
  .question-accordion-icon {
    top: 3.2rem;
  }
}
/* faq */

/* reviews-section */

.reviews-section {
  padding-top: 30rem;
}
.reviews-section__title {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  color: var(--green-600);
}
.reviews-section__wrapper {
  margin-top: 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.review-section__action {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.review {
  padding: 4rem;
  width: 48rem;
  height: 33rem;
  background-color: var(--green-600);
  color: var(--white);
  position: relative;
}
.review ::selection {
  background-color: var(--white);
  color: var(--green-600);
}
.review__avatar {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 10rem;
}
.review__author-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.review__author-name {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.review__platform {
  position: absolute;
  right: 4rem;
  width: 4rem;
  height: 4rem;
}
.review__content-wrapper {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.review__meta-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.review__date {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.review__stars {
  width: 8rem;
  height: 1.6rem;
}
.review__text {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.review__link {
  position: absolute;
  bottom: 4rem;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: underline;
}
@media only screen and (orientation: portrait) {
  .review {
    padding: 2rem;
    width: 34rem;
    height: 31rem;
  }
  .review__platform {
    display: none;
  }
  .reviews-section__wrapper {
    gap: 1rem;
  }
  .review__link {
    bottom: 3rem;
  }
  .review__text {
    font-size: 1.6rem;
    line-height: 1.4;
    height: 13.2rem;
    overflow-y: hidden;
  }
}
/* reviews-section */

/* review page */

.review-page {
  padding-top: 24rem;
  display: flex;
  flex-flow: column;
  gap: 10rem;
  align-items: center;
}
.review-page-title-container {
  gap: 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.review-page-title {
  font-size: 6rem;
  line-height: 1;
  color: var(--green-600);
}
.review-page-text {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  width: 70rem;
}
.review-place {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  gap: 5rem;
}
.review-place__title{
  color: var(--green-600);
  text-align: center;
  font-size: 4rem;
  line-height: 1;
}
.reviews-content-wrapper {
  display: flex;
  width: 300rem;
}
.reviews-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  width: 150rem;
  flex-shrink: 0;
}
.platform-tab__icon{
  width: 2.4rem;
  height: 2.4rem;
}
.platform-tabs-container{
  align-self: center;
}
.platform-tab{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.tabs-inner-container{
  display: flex;
}
.review-place__rating{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
.review-place__rating-info{
  font-size: 2rem;
  letter-spacing: 0.02em;
  line-height: 1;
}
.review-place__stars{
  width: 16rem;
  height: 3.2rem;
}
.review-place__action{
  margin-top: 5rem;
  align-self: center;
}
@media only screen and (orientation: portrait) {
  .review-page{
    padding-top: 15rem;
  }
  .review-page-title{
    font-size: 4rem;
  }
  .review-page-text{
    width: unset;
    font-size: 1.6rem;
  }
  .reviews-wrapper {
    gap: 1rem;
  }
  .review-place__title{
    font-size: 3.2rem;
  }
  .platform-tabs-container{
    overflow-x: scroll;
    gap: 2rem;
    padding: 1rem 0;
  }
  .platform-tab{
    height: 1.6rem;
    word-break: keep-all;
    flex-shrink: 0;
  }
  .platform-tab__icon{
    height: 1.6rem;
  }
  .review-place__stars{
    width: 12rem;
    height: 2.4rem;
  }
  .review-place__rating-info{
    font-size: 1.6rem;
  }
  .reviews-content-wrapper{
    width: 68rem;
  }
  .reviews-wrapper{
    width: 34rem;
  }
}

/* review page */


/* promo page */
.promo{
  padding-top: 24rem;
}
.promo__container{
  height: 87.2rem;
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 8rem;
}
.promo__title{
  font-size: 6rem;
  line-height: 1;
  font-weight: 300;
  width: 80rem;
  color: var(--green-600);
}
.promo__image{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 80rem;
  height: 59.2rem;
}
.promo__text-container{
  width: 60rem;
}

.details__content-container{
  overflow: hidden;
  transition: height 0.3s;
}
.details-container{
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.details__text{
  font-size: 2.4rem;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
.details-text-container{
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.details__plus-icon{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: opacity 0.1s;
}
@media only screen and (orientation: portrait) {
  .promo{
    padding-top: 15rem;
  }
  .promo__container{
    height: unset;
    gap: 0;
  }
  .promo__title{
    font-size: 4rem;
    width: unset;
    font-weight: normal;
    order: 1;
  }
  .promo__text-container{
    width: unset;
    order: 2;
    margin-top: 4rem;
  }
  .promo__image{
    position: relative;
    right: unset;
    top: 0;
    transform: translate(0);
    width: 34rem;
    height: 25.2rem;
    order: 3;
  }
  .details__text{
    font-size: 2rem;
  }
}

.promo-equipment{
  padding-top: 30rem;
  display: flex;
  flex-flow: column;
  gap: 20rem;
}
.promo-equipment__title{
  color: var(--green-600);
  font-size: 4rem;
  line-height: 1;
  width: 60rem;
}
@media only screen and (orientation: portrait) {
  .promo-equipment__title{
    width: unset;
  }
}
/* promo page */


/* compare section */
.compare{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10rem;
  padding-top: 30rem;
}
.compare__title{
  font-size: 4rem;
  line-height: 1;
  display: flex;
  align-items: center;
  color: var(--green-600);
  gap: 1rem;
}
.compare__title-divider{
  background-color: var(--green-600);
  display: inline-block;
  height: .1rem;
  width: 46.1rem;
}
.compare-container{
  width: 110rem;
  display: flex;
  flex-flow: column;
  position: relative;
}
.compare-slider{
  position: relative;
  overflow: hidden;
}
.compare-slider-container{
  width: 110rem;
  overflow: hidden;
}
.compare-slide{
  width: 110rem;
  display: flex;
}
.compare-slide__img{
  width: 55rem;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}
.control-arrow{
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0.5;
}
.control-arrow:hover{
  opacity: 1;
}
.control-arrow.swiper-button-disabled{
  opacity: 0;
  visibility: hidden;
}
.compare-slider__control{
  z-index: 1;
  top: 50%;
}
.compare-slider__control.right{
  transform: translate(50%, -50%);
  right: 0;
}
.compare-slider__control.left{
  left: 0;
  transform: translate(-50%, -50%) rotateZ(180deg);
}
.compare-slider__nav-container{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.compare-slider__nav-container .swiper-pagination-bullet{
  width: 4rem;
  height: 1rem;
  border-radius: .5rem;
  border: var(--green-600) .1rem solid;
  background: 0;
  opacity: 1;
  transition: flex-grow 0.5s;
  position: relative;
  overflow: hidden;
}
.compare-slider__nav-container .swiper-pagination-bullet-active{
  flex-grow: 1;
  cursor: default;
  pointer-events: none;
}
.compare-slider__nav-container .swiper-pagination-bullet.passed{
  background-color: var(--green-600);
}
.swiper-pagination-bullet-fill{
  position: absolute;
  left: 0;
  width: 40rem;
  flex-grow: 1;
  height: 1rem;
  background-color: var(--green-600);

}
@media only screen and (orientation: portrait) {
  .compare{
    padding-top: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .compare__title{
    font-size: 3.2rem;
  }
  .compare__title-divider{
    width: 14.4rem;
  }
  .compare-container{
    width: 34rem;
  }
  .compare-slide{
    width: 34rem;
  }
  .compare-slide__img{
    width: 17rem;
    height: 12.4rem;
    
  }
  .compare-slider__controls{
    display: none;
  }
  .compare-slider__nav-container .swiper-pagination-bullet{
    width: 1rem;
  }
}
/* compare section */


/* рекомендации */
.advices{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30rem;
  background-color: var(--green-100);
  position: relative;
  z-index: 1;
}
.advices__wrapper{
  display: flex;
  flex-flow: column;
  gap: 10rem;
  margin-top: 10rem;
}
.advices__title{
  font-size: 4rem;
  line-height: 1;
  color: var(--green-600);
}
.advice{
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;
  
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  
  width: 60rem;
}
.advices-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5rem;
}
.advices-container__title{
  font-size: 2.4rem;
  line-height: 1;
  color: var(--green-600);
  text-align: center;
}
@media only screen and (orientation: portrait) {
  .advices{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .advices__title{
    font-size: 3.2rem;
  }
  .advices-container__title{
    font-size: 2rem;
  }
  .advice{
    width: unset;
    font-size: 1.6rem;
  }
}
/* рекомендации */

.fade-in-scroll{
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-scroll.visible{
  opacity: 1;
}

/* БЭМ-блоки */

.fixed-wrapper {
  /* width: 72vh; */
  width: 50rem;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  /* background-color: #d4c9c9; */
  z-index: 2;
}
.fixed-wrapper_inherit {
  width: inherit;
  height: inherit;
}
.fixed-container {
  position: absolute;
  /* top: -100dvh; */
  height: inherit;
  width: 100%;
  /* background-color: aqua; */
  z-index: 1;
}
.fixed-container_half-height {
  height: 50%;
}
.fixed-container-two-tripartile-height {
  height: 66.666666666%;
}

.fixed-asset {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
/* элемент который берется за эталон высоты мобильного устройства без Ui элементов */
.mobileHeightRef {
  height: 100vh !important;

  z-index: -99999999;
  position: absolute;
}
.hidden {
  display: none;
}
.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
.container-big {
  padding-left: 10rem;
  padding-right: 10rem;
}
.container-pad-top {
  background: var(--green-100);
  padding-top: 20rem;
}
.container-big-pad-top {
  background: var(--green-100);
  padding-top: 30rem;
}
.container_empty {
  padding-left: 0;
  padding-right: 0;
}

.white-space-small {
  width: 100%;
  height: 100vh;
}
.white-space-small-filled {
  width: 100%;
  height: 100vh;
  background-color: var(--green-100);
}
.white-space {
  width: 100%;
  height: 2000rem;
}
.white-space-filled {
  background-color: var(--green-100);
  width: 100%;
  height: 2000rem;
}
@media only screen and (orientation: portrait) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-big {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-empty-mob {
    padding-left: 0;
    padding-right: 0;
  }
  .container-pad-top {
    padding-top: 20rem;
  }
}
/* БЭМ-блоки конец */
