:root {
  --green-900: #020a09;
  --green-600: #7a804a;
  --green-100: #d3d8b3;
  --red-600: #9f252b;
  --white: #ffffff;
  --optima: "Optima", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("fonts/Optima.woff") format("woff");
}

@font-face {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Optima Medium"), url("fonts/Optima Medium.woff") format("woff");
}

@font-face {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Optima Bold"), url("fonts/Optima Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: local("Montserrat"), url("fonts/Montserrat.woff2") format("woff2");
}

/* Основные стили */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  &.link {
    color: var(--red-600);
  }
}

button,
input[type="submit"] {
  border: 0;
}

body {
  font-family: var(--montserrat);
  background-color: var(--green-100);
  overflow-x: hidden;
  color: var(--green-900);
}

input,
textarea,
button {
  color: #1d1d1d;
  font-family: var(--montserrat);
}

html {
  font-size: 0.625vw;
  overflow-x: hidden;
  background-color: var(--green-100);
}
html * {
  -webkit-tap-highlight-color: transparent;
}
html ::selection {
  background-color: var(--green-600);
  color: #fff;
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 2.778vw;
  }
}

.btn {
  cursor: pointer;
  background: var(--red-600);
  color: var(--white);
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 123px;
}

.only-desktop {
  display: block;
}
.only-mobile {
  display: none;
}
.inline-block {
  display: inline-block;
}

/* Хедер */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  padding: 3rem 5rem;
}
.logo {
  width: 19rem;
  height: 4.6rem;
}
.burger-icon {
  width: 5rem;
  height: 1.8rem;
  cursor: pointer;
}
/* Хедер конец */

.burger-btn{
  display: none;
}

/* главный баннер */
.main-banner {
  height: 150vh;
  z-index: 2;
  position: relative;
}
.icon-btn {
  cursor: pointer;
  width: fit-content;
  position: relative;
}
.icon-btn__icon {
  position: absolute;
  left: 2rem;
  top: 0;
  width: 3.4rem;
  height: 4.6rem;
}
.icon-btn__bg {
  height: 4.6rem;
  background-color: var(--red-600);
  border-radius: 4rem;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  padding: 0 3rem;
  opacity: 0;
  z-index: 1;
}
.icon-btn__text {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  padding: 1.5rem 3rem;

  transition: color 0.5s;
}

/* фиксированный элемент для заднего фона куда можно вставлять изображения */
.fixed-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  top: 0;
  background-color: var(--green-100);
}
.fixed-background[src=""] {
  visibility: hidden;
}

/* фиксированный элемент для заднего фона куда можно вставлять изображения */

.image-foreground {
  /* width: 480rem;
  height: 308.9rem; */
  /* top: -103.9rem; */
  /* left: -158rem; */

  width: 383.7rem;
  height: 312.824vh;

  position: fixed;
  top: -105vh;
  left: -115rem;

  z-index: 3;
}
.mob-image-foreground {
  display: none;
}
.fixed-video {
  width: 100%;
  height: 100vh;
  object-position: 30% 40%;
  object-fit: cover;
  position: absolute;
  right: 0;
  z-index: 2;
}
.main-text-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.main-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  align-items: end;
}
.main-text__title {
  font-size: 26rem;
  line-height: 1;
  color: #7a804a;
  white-space: nowrap;
  font-family: var(--optima);
}
.main-text__under {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #7a804a;
}

.image-gallery {
  background-color: var(--green-100);
  position: relative;
  padding-left: 10rem;
  padding-right: 10rem;
}
.image-gallery__fixed-image{
  position: fixed;
  width: 50rem;
  height: 100vh;
  z-index: 1;
  top: 50%;
  right: 10rem;
  transform: translate(0, -50%);
  object-fit: cover;
  object-position: 50% 50%;
}
.containers-separator{
  height: 20rem;
  width: 100%;
  background-color: var(--green-100);
  position: relative;
  z-index: 2;
}
.image-grid {
  min-height: 100vh;
  position: relative;
}
.fixed-wrapper {
  /* width: 72vh; */
  width: 50rem;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  /* background-color: #d4c9c9; */
  z-index: 2;
}
.fixed-wrapper_inherit {
  width: inherit;
  height: inherit;
}
.fixed-container {
  position: absolute;
  /* top: -100dvh; */
  height: inherit;
  width: 100%;
  /* background-color: aqua; */
  z-index: 1;
}
.fixed-container_half-height {
  height: 50%;
}
.fixed-container-two-tripartile-height {
  height: 66.666666666%;
}

.fixed-asset {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.image-grid-first-elem {
  width: 70rem;
  height: 41rem;
  object-fit: cover;
  object-position: center center;
}

.sale-info-block {
  margin-top: 10rem;
}
.sale-info-title {
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.sale-info-value {
  font-size: 10rem;
  line-height: 1;
  font-family: var(--optima);
  color: var(--green-600);
  margin-top: 3rem;
  position: relative;
}
.sale-info-value__icon {
  position: absolute;
  left: -3.4rem;
  top: 0.9rem;
  width: 3.9rem;
  height: 5.2rem;
}

.sale-info-text {
  font-size: 1.6rem;
  line-height: 1;
  line-height: 1.4;
  letter-spacing: 0.02em;

  margin-top: 1rem;
}

.image-gallery__action {
  margin-top: 6rem;
}

/* услуги */
.services {
  z-index: 1;
  position: relative;
}
.services__title {
  font-size: 10rem;
  line-height: 1;
  color: var(--green-600);
  text-align: center;
}

.services-slider {
  margin-top: 20rem;
}
.service {
  width: 25rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
}
.service__img {
  width: 25rem;
  height: 50rem;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}
.service__title {
  position: absolute;
  width: 18rem;
  left: 3rem;
  bottom: 3.3rem;

  color: var(--white);
  letter-spacing: 0.02em;
  font-size: 2.4rem;
  line-height: 1;
  z-index: 2;
}

.service-bg {
  width: 25rem;
  height: 25rem;
  position: absolute;
  bottom: 0;
}
.service-bg_half-opacity {
  width: 25rem;
  height: 25rem;
  position: absolute;
  opacity: 0.5;
  transform: translate(0, 101%);
  background: var(--green-600);
  transition: transform 0.5s 0.2s;
}
.service-bg_full-opacity {
  width: 25rem;
  height: 25rem;
  position: absolute;
  transform: translate(0, 101%);
  background: var(--green-600);
  transition: transform 0.5s;
}
.service:hover .service-bg_half-opacity {
  transform: translate(0);
  transition: transform 0.5s;
}
.service:hover .service-bg_full-opacity {
  transform: translate(0);
  transition: transform 0.5s 0.2s;
}
/* услуги конец */

/* прайс лист */
.price-list {
  display: flex;
  flex-flow: column;
  gap: 5rem;
  align-items: center;
  background-color: var(--green-100);

  width: 160rem;
  position: relative;
  z-index: 1;
}
.price-list__container {
  width: 100%;
  overflow: hidden;
}
.price-list-content-wrapper {
  display: flex;
  width: 300rem;
  transition: height 0.1s;
}
.price-list-content {
  width: 150rem;
  flex-shrink: 0;
  height: fit-content;
}

.price-list__title {
  font-size: 10rem;
  line-height: 1;
  color: var(--green-600);
}
.price-list__text {
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
}
.tabs-container {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  border-color: var(--green-600);
  border-width: 0.1rem;
  padding: 1rem;
  width: 85rem;
}

.tab {
  font-size: 2.4rem;
  letter-spacing: 0.02em;
  line-height: 1;
  opacity: 0.5;
  cursor: pointer;
}
.tab.active{
  opacity: 1;
  cursor: default;
}
.tab__divider {
  font-size: 2.4rem;
  line-height: 1;
}

.price-list-item {
  position: relative;

  height: 6.1rem;
  overflow: hidden;
  cursor: pointer;

  border-top: solid;
  border-color: var(--green-600);
  border-width: 0.1rem;
  padding: 2rem 5rem;
  font-size: 2rem;
  line-height: 1;

  transition: height 0.2s, background-color 0.2s, color 0.2s;
  &:hover {
    background-color: var(--green-600);
    color: var(--white);
  }
  &.active {
    background-color: var(--green-600);
    color: var(--white);

    .price-list-item__body {
      opacity: 1;
    }
  }
}
.price-list-item__body {
  margin-top: 5rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.05s;
  cursor: default;
}
.price-list-item__body ::selection {
  color: var(--green-600);
  background: var(--white);
}
.price-list-item__icon {
  position: absolute;
  right: 5.3rem;
  width: 2rem;
  height: 2rem;
}
.price-list-table_mob {
  display: none;
}
.price-list-table {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.price-list-row {
  display: flex;
}
.price-list-cell {
  width: 24rem;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.price-list-cell_first-col {
  width: 69rem;
}
.price-list-cell_heading {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.5;
  margin-bottom: 0.6rem;
}
.price-list__action {
  padding: 1.5rem 0 5rem;
}
.price-list__more-info-link {
  display: block;
  margin-top: 4rem;
  text-decoration: underline;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
/* прайс лист */

/* текст по центру */
.centered-text-wrapper {
  background: var(--green-100);
  position: relative;
  z-index: 2;
}
.centered-text-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.centered-text {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green-600);

  width: 120rem;
  font-size: 5rem;
  line-height: 1;
}
/* текст по центру */

.one-screen-transparent-container {
  display: none;
}

/* наши мастера */
.our-masters {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.our-masters-text-container {
  padding-top: 30rem;
  padding-bottom: 50rem;
  background-color: var(--green-100);
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: 1;
}
.our-masters-title {
  color: var(--green-600);
  font-size: 10rem;
  line-height: 1;
  text-align: center;
}
.our-masters-text {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 5rem;
  width: 60rem;
}
.master {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 105rem;
  height: 120rem;

  position: relative;

  background-color: var(--green-100);
  &:not(:last-child) {
    padding-bottom: 29.5rem;
  }
}
.master_pad-top {
  padding-top: 20rem;
}
.master__blank-space {
  width: 40rem;
  height: 60rem;
}
.master-image {
  width: 40rem;
  height: 60rem;
  position: relative;
}
.master-image_start,
.master-image_center {
  height: 120rem;
  position: absolute;
  left: 5rem;
  top: -10rem;
}
.master-image_last {
  height: 90rem;
  position: absolute;
  left: 5rem;
  top: -10rem;
}
.master-image_twice-height {
  height: 120rem;
}

.separator {
  position: absolute;
  bottom: 0;
  height: 4rem;
  left: -3rem;
  transform: translate(0, 50%);
  width: 46rem;
  background-color: var(--green-100);
  opacity: 1;
  filter: blur(0.7rem);
  z-index: 3;
  display: none;
}
.master-info {
  width: 50rem;
  height: fit-content;
}
.master-name {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 5rem;
}
.master-text-wrapper {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}
.master-desc-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.master-desc-title {
  font-size: 1.6rem;
  line-height: 1;
  opacity: 0.5;
}
.master-desc-text {
  font-size: 1.6rem;
  line-height: 1;
  line-height: 1.4;
}
.master-action-block {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.master-fixed-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  top: 0;
  background-color: var(--green-100);
  display: none;
}
.master-fixed-background[src=""] {
  visibility: hidden;
}
/* наши мастера */

/* Преимущества */
.our-advantages {
  position: relative;
  z-index: 1;
}
.our-advantages__title {
  font-size: 10rem;
  line-height: 1.2;
  color: var(--green-600);
  text-align: center;
}
/* Преимущества конец */

/* адреса */
.addresses-list {
  display: flex;
  gap: 5rem;
  position: relative;
  z-index: 1;
  padding-bottom: 25rem;
}
.address-item {
  width: 70rem;
}
.addresses-list__wrapper {
  display: flex;
  flex-flow: column;
  gap: 6rem;
}
.addresses-list__title {
  font-size: 4rem;
  line-height: 1;
}
.address-item{
  display: flex;
  flex-flow: column;
}
.address-title{
  font-size: 2.4rem;
  line-height: 1;
  padding: 1rem 0;
  border-top: var(--green-600) .1rem solid;
  border-bottom: var(--green-600) .1rem solid;
}
.address-info-container{
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  gap: 4rem;
}
.address-info-list{
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.address-info-item{
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.address-maps-info{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.address-rating{
  display: flex;
  gap: 1rem;
}
.address-rating-icon{
  width: 10rem;
  height: 2rem;
}
.rating-info{
  display: flex;
  gap: .5rem;
}
.rating-quantity, .rating-value{
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.maps-link{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.maps-link_small-gap{
  gap: 0.5rem;
}
.map-icon{
  width: 3rem;
  height: 3rem;
}
.map-icon_small{
  width: 1.2rem;
  height: 1.44rem;
}
.maps-link__text{
  font-size: 1.2rem;
  line-height: 1;
  width: 10rem;
  letter-spacing: 0.02em;
}
.maps-link__text_long{
  width: unset;
}
.address-btn{
  width: fit-content;
}
.maps-title{
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.maps-address{
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.map-wrapper {
  width: 75rem;
  height: 50rem;
  position: relative;
}
.map {
  width: 75rem;
  height: 50rem;
  background-color: var(--green-600);
}
.mobile-map{
  display: none;
}
/* адреса конец */

/* футер */
.footer {
  position: relative;
  z-index: 1;
  padding-bottom: 5rem;
  overflow: hidden;
  width: 150rem;
  margin: 0 auto;
}
.footer-separator {
  width: 100%;
  height: 0.1rem;
  background-color: var(--green-600);
}
.footer-container {
  padding-top: 5rem;
  position: absolute;
  width: 150rem;
}
.footer-top-row {
  display: flex;
  gap: 15rem;
  padding-bottom: 15rem;
}
.footer-logo-container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: end;
}
.footer-text-logo {
  width: 10.4rem;
  height: 13.8rem;
}
.logo_big {
  width: 28.1rem;
  height: 6.8rem;
}
.footer__logo {
  margin-bottom: 0.8rem;
}
.footer-menu-grid {
  /* width: 95rem; */
  width: 75rem;
  display: flex;
  justify-content: space-between;
}
.footer-menu-column {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.footer-menu-column_outer {
  display: flex;
  flex-flow: column;
  gap: 4rem;
}
.footer-menu-category {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.5;
}
.footer-menu-item {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.footer-bottom-row {
  display: flex;
}
.footer-bottom-info {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.02em;
}
.footer__company-info-text {
  width: 55rem;
}
.footer__dev-info {
  flex-grow: 1;
  text-align: end;
}

.icons-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icon-whatsapp {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-telegram {
  width: 2.4rem;
  height: 2.1rem;
}
.icon-insta {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-vk {
  width: 2.4rem;
  height: 1.4rem;
}
.icon-yt {
  width: 2.2rem;
  height: 1.6rem;
}
/* футер конец */

@media only screen and (orientation: portrait) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }

  .header {
    justify-content: center;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: none;
  }
  .burger-btn{
    display: block;
    width: 7.4rem;
    height: 10rem;
    position: fixed;
    right: 1rem;
    bottom: 3.5rem;
    z-index: 3;
  }

  .main-banner {
    height: 200vh;
  }
  .fixed-video {
    width: 36rem;
  }
  .mob-image-foreground {
    width: 108rem;
    height: 156rem;
    position: fixed;
    top: -15rem;
    left: -36rem;
    z-index: 3;
    display: block;
  }
  .image-foreground {
    display: none;
  }
  .image-gallery{
    background-color: var(--green-100);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .image-grid {
    height: unset;
  }
  .image-gallery__fixed-image{
    display: none;
  }
  .image-gallery__action {
    display: flex;
    justify-content: center;
  }
  .image-grid-first-elem {
    width: 34rem;
    height: 20rem;
  }
  .sale-info-block {
    margin-top: 5rem;
  }
  .sale-info-value {
    margin-left: 3.4rem;
  }

  .main-text__title {
    line-height: 1;
    font-size: 7.6rem;
  }
  .main-text__under {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--white);
  }
  /* пустой элемент ровно на один экран */
  .one-screen-transparent-container {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 0;
    position: relative;
  }
  .one-screen-transparent {
    background-color: transparent;
    height: 100vh;
  }

  .fixed-wrapper {
    display: none;
  }

  /* прайс лист */
  .price-list {
    width: unset;
    font-size: 1.8rem;
    line-height: 1;
    gap: 3rem;
  }
  .price-list__title {
    font-size: 4rem;
    line-height: 1;
  }
  .price-list__text {
    font-size: 1.2rem;
    line-height: 1;
  }
  .tabs-container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .tab {
    font-size: 1.6rem;
    line-height: 1;
  }
  .tab__divider {
    font-size: 1.8rem;
    line-height: 1;
  }
  .price-list-item {
    padding: 2rem 1rem;
    &:hover {
      background-color: var(--green-100);
      color: var(--green-900);
    }
    &.active {
      background-color: var(--green-600);
      color: var(--white);
    }
  }
  .price-list-item__icon {
    width: 1.8rem;
    height: 1.8rem;
    right: 2rem;
  }
  .price-list-content {
    width: 36rem;
  }
  .price-list-content-wrapper {
    width: 72rem;
  }

  .price-list-table {
    display: none;
  }
  .price-list-item__body {
    margin-top: 3rem;
  }
  .price-list-table_mob {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }
  .price-list-row {
    justify-content: space-between;
  }
  .price-list-cell {
    font-size: 1.4rem;
    line-height: 1;
    width: 10rem;
  }
  .price-list-cell_first-col {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
  }
  .price-list-col {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
  .price-list-cell_heading {
    margin-bottom: 0;
  }
  .price-list__action {
    margin-top: 1.5rem;
  }
  .price-list__more-info-link {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1;
  }
  /* прайс лист */

  .centered-text {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
  }

  /* наши мастера */
  .our-masters-text-container{
    padding-bottom: 30rem;
  }
  .our-masters-title {
    font-size: 4rem;
    line-height: 1;
  }
  .our-masters-text {
    width: unset;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 5rem;
  }
  .master {
    width: unset;
    height: unset;
    min-height: 101vh;
    z-index: 1;
  }
  .master_pad-top {
    padding-top: 10rem;
  }
  .master-image {
    display: none;
  }
  .master__blank-space {
    display: none;
  }
  .master-info {
    width: unset;
  }
  .master-fixed-background{
    display: block;
  }
  /* Преимущества */
  .our-advantages__title {
    font-size: 4rem;
    line-height: 1.2;
  }
  /* Преимущества конец */
  /* услуги */
  .services__title {
    font-size: 4rem;
    line-height: 1;
  }
  .services-slider {
    margin-top: 5rem;
  }
  /* услуги конец*/

  /* адреса */
  .addresses-list{
    flex-flow: column;
  }
  .address-item {
    width: unset;
  }
  .map-wrapper{
    display: none;
  }
  .mobile-map{
    display: block;
    width: 36rem;
    height: 24rem;
  }
  .map{  
    width: 36rem;
    height: 24rem;
  }
  /* адреса конец */

  /* футер */
  .footer{
    width: unset;
    padding-bottom: 6rem;
  }
  .footer-separator{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-container {
    width: 36rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-top-row {
    flex-flow: column;
    gap: 5rem;
    padding-bottom: 10rem;
  }
  .footer-text-logo {
    width: 7.8rem;
    height: 10.4rem;
  }
  .footer__logo {
    margin-bottom: 0.55rem;
    width: 21rem;
    height: 5.1rem;
  }
  .footer-menu-grid {
    flex-flow: column;
    gap: 4rem;
    width: unset;
  }
  .footer-bottom-row {
    flex-flow: column;
    gap: 2rem;
  }
  .footer__dev-info {
    flex-grow: 0;
    text-align: unset;
  }
  .footer__company-info-text {
    width: unset;
  }
  .footer-bottom-info {
    text-align: center;
  }
  /* футер конец */
}
/* элемент который берется за эталон высоты мобильного устройства без Ui элементов */
.mobileHeightRef {
  height: 100vh !important;

  z-index: -99999999;
  position: absolute;
}
.hidden {
  display: none;
}
.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
.container-big {
  padding-left: 10rem;
  padding-right: 10rem;
}
.container-pad-top {
  background: var(--green-100);
  padding-top: 20rem;
}
.container-big-pad-top {
  background: var(--green-100);
  padding-top: 30rem;
}
.container_empty {
  padding-left: 0;
  padding-right: 0;
}

.white-space-small {
  width: 100%;
  height: 100vh;
}
.white-space-small-filled {
  width: 100%;
  height: 100vh;
  background-color: var(--green-100);
}
.white-space {
  width: 100%;
  height: 2000rem;
}
.white-space-filled {
  background-color: var(--green-100);
  width: 100%;
  height: 2000rem;
}
@media only screen and (orientation: portrait) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-big {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-empty-mob {
    padding-left: 0;
    padding-right: 0;
  }
  .container-pad-top {
    padding-top: 20rem;
  }
}
